/.idea
/.metals
/.vscode
/hello-world
/output
/project_1
/.bsp
/test_run_dir
/project/project/target/config-classes
/project
/bubble.gtkw
/Makefile
/output.txt
/print.txt
# /target/scalar
/target\scala-2.12\classes